@tailwind base;
@tailwind components;
@tailwind utilities;

  
@font-face {
  font-family: "YekanBakh-Regular";
  src: url('../public/fonts/YekanBakh-Regular.ttf');
}
@font-face {
  font-family: "YekanBakh-Medium";
  src: url('../public/fonts/YekanBakh-Medium.ttf');
}
@font-face {
  font-family: "YekanBakh-Light";
  src: url('../public/fonts/YekanBakh-Light.ttf');
}
@font-face {
  font-family: "YekanBakh-Heavy";
  src: url('../public/fonts/YekanBakh-Heavy.ttf');
}
@font-face {
  font-family: "YekanBakh-Hairline";
  src: url('../public/fonts/YekanBakh-Hairline.ttf');
}
@font-face {
  font-family: "YekanBakh-Bold";
  src: url('../public/fonts/YekanBakh-Bold.ttf');
}
@font-face {
  font-family: "YekanBakh-Fat";
  src: url('../public/fonts/YekanBakh-Fat.ttf');
}

@font-face {
  font-family: "B-yekan";
  src: url("../public/fonts/Yekan.ttf");
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

    color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  direction: rtl;
  font-family: "YekanBakh-Medium";
  background-color: #FBFBFB;
  scroll-behavior: smooth;
}